@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/**
051923
003554
006494
0582CA
00A6FB
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.2;
    background-color: #00A6FB;
}

button {
    font-family: 'Poppins';
}


/* ============= CSS ON HEADER ============= */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    margin: 0;
    background-color: #003554;
    color: #00A6FB;
    z-index: 2;
}

.header-title {
    width: 100px;
    margin: 0 50px;
    transition: .5s ease-out;

}

.header-title:hover {
    color: #FFF;
    transform: scale(1.5);
}

.nav a {
    color: #00A6FB;
    padding: 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #FFF;
    font-weight: bold;
    transition: .5s;
}

.nav-header {
    display: flex;
    justify-content: space-evenly;
}


/* ============= CSS ON MAIN ============= */

.sidebar {
    width: 200px;
    background-color: #051923;
    padding: 40px;
    position: relative;
    z-index: 1;
}

.nav-sidebar {
    color: #00A6FB;
}

.nav-sidebar a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #00A6FB;
}

.body {
    margin-top: 56px;
    display: flex;
}

.main {
    width: calc(100% - 200px);
    position: relative;
    margin: 20px;
}

.container {
    margin: 20px auto;
    max-width: 940px;
}

.carousel {
    overflow: auto;
    white-space: nowrap;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background: none;
    border-radius: 30px;
}

.scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(5, 25, 35, 1);
    border-radius: 30px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #006494;
}


.carousel img {
    margin-right: 20px;
    width: 300px;
    height: 300px;
}


.list-collapse {
    display: flex;
    justify-content: space-between;
}

.bloc {
    opacity: 0;
    transition: .5s;
    width: 400px;
    overflow-y: scroll;
    height: 200px;
    background-color: white;
}

.collapsible {
    margin-top: 50px;
    width: 400px;
    height: 60px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: right;
    outline: none;
}

.collapsible img {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

.active,
.collapsible:hover {
    background-color: #006494;
}